appnope
backports-abc
backports.ssl-match-hostname
bleach
certifi
cycler
Cython
decorator
entrypoints
future
gnureadline
html5lib
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
MarkupSafe
matplotlib
mistune
nbconvert
nbformat
notebook
numpy
pandocfilters
parso
path.py
pexpect
pickleshare
Pillow
prompt-toolkit
ptyprocess
Pygments
pyparsing
python-dateutil
pytz
pyzmq
qtconsole
scipy
Send2Trash
simplegeneric
singledispatch
six
terminado
testpath
tornado
traitlets
wcwidth
webencodings
widgetsnbextension
