@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap&subset=cyrillic');

@font-face {
  font-family: 'Pollock2C';
  src: url('Pollock2C.otf') format('opentype');
}

* {
  font-family: 'Open Sans', sans-serif;
}

@media (min-width:1200px) {
  .container {
    max-width: 1200px;
    padding-left: 0;
    padding-right: 0;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-5%, 0, 0);
    transform: translate3d(-5%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(5%, 0, 0);
    transform: translate3d(5%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

body,html {
  width: 100%;
  height: 100%;
}

body {
  color: black;
  background: white;
  font-size: 16px;
}

.normal {
  font-weight: 400;
}

p {
  line-height: 27px;
}

.row {
  margin: 0;
}

hr {
  position: relative;
  background: url(images/line1.png) repeat-x bottom center;
  border: 0px;
  height: 1px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

h1,.h1,h2,.h2,h3,.h3,h4,.h4 {
  font-weight: 700 !important;
  color: #12A9EA;
}

h1 span,.h1 span,h2 span,.h2 span {
  display: block;
  width: 100%;
  font-size: 2.5rem;
  font-weight: 300;
  color: black;
}

a {
  color: #12A9EA;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

a.search,a.search:hover,a.search2,a.search2:hover {
  display: inline-block;
  width: 20px;
  line-height: 32px;
  background: url(images/search.png) no-repeat center center;
}

a.search2,a.search2:hover {
  float: right !important;
}

.nav-tabs .nav-link {
  width: 100%;
  max-width:260px;
  border-left: 1px solid white !important;
  border-right: 1px solid white !important;
  margin-bottom:15px;
  color: black;
  background-color: #E5E8EB;
  border: 0;
  font-size:14px;
  font-weight:400;
  text-transform: uppercase;
  padding:15px;
  text-align: left;
}
.nav-link:hover {
	background: #12A9EA;
  color:white;
}

.nav-tabs .nav-link.active {
  width: 100%;
  padding-top: 40px;
  color: white;
  background-color: #12A9EA;
  font-weight: 700;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #918474;
  background-color: rgba(246,242,235,1);
  border: 1px solid #918474;
}

.page-item.active .page-link {
  z-index: 1;
  color: white;
  background-color: #918474;
  border-color: #918474;
}

.page-link:focus,.page-link:hover {
  color: #fff;
  text-decoration: none;
  background-color: #918474;
  border-color: #918474;
}