@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap&subset=cyrillic');
@font-face {
  font-family: 'Pollock2C';
  src: url('Pollock2C.otf') format('opentype');
}
* {
	font-family: 'Open Sans', sans-serif;
}
.text-green {
	color:#67C351 !important;
}
.bg-green {
	background-color:#67C351 !important;
}
@media (min-width:1200px) {
    .container{
        max-width:1200px;
		padding-left:0;
		padding-right:0;
    }
}
.animated.standby {
	-webkit-animation: none !important;
	-o-animation: none !important;
	animation: none !important;
	visibility: hidden;
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-5%, 0, 0);
    transform: translate3d(-5%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(5%, 0, 0);
    transform: translate3d(5%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.o-hidden {
 overflow:hidden;
}
.row-eq-height {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
body, html {
	width: 100%;
	height:100%;
}
body {
	color:black;
	background:white;
	font-size:16px;
}
b, strong {
	font-weight:700;
}
.light {
	font-weight:300;
}
.normal {
	font-weight:400;
}
.semibold {
	font-weight:600;
}
.extrabold {
	font-weight:800;
}
p {
	line-height:27px;
}
.row {
 	margin:0;
}
img {
	max-width: 100%;
}
.objectfit {
	width: 100%;
	height:100%;
	object-fit: cover;
	object-position: center top;
}
hr {
	position:relative;
 	background:url(images/line1.png) repeat-x bottom center;
	border: 0px;
	height:1px;
	width: 100%;
	margin-top:20px;
	margin-bottom:20px;
}
.inlineblock {
	text-align:center;
	letter-spacing:0;
	word-spacing:0;
	font-size:0;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
	font-weight: 700 !important;
	color:#12A9EA;
}
h1 span, .h1 span, h2 span, .h2 span {
	display: block;
	width: 100%;
	font-size: 2.5rem;
	font-weight: 300;
	color:black;
}
h1.green, .h1.green, h2.green, .h2.green, h3.green, .h3.green, h4.green, .h4.green {
	color:#67C351;
}
.bg-none {
	background:none;
	padding-bottom:0;
}
a {
 	color:#12A9EA;
 	text-decoration:none;
}
a:hover {
 	color:black;
	text-decoration:none;
}
.btn-primary, .btn-primary:active, .btn-primary:visited {
  	background-color:#C44179 !important;
  	border-color:#C44179 !important;
	color:white;
	font-size: 14px;
	text-transform: uppercase;
	height:50px;
	line-height:38px;
	padding-left: 25px;
	padding-right: 25px;
	border-radius:25px;
	-moz-border-radius:25px;
	-webkit-border-radius:25px;
	-o-border-radius:25px;
}
.btn-primary:hover {
  	background-color:#004C98 !important;
  	border-color:#004C98 !important;
	color:white;
}
.btn-secondary, .btn-secondary:active, .btn-secondary:visited {
  	background-color:transparent !important;
  	border-color:#C44179 !important;
	color:black;
	font-size: 14px;
	text-transform: uppercase;
	height:50px;
	line-height:38px;
	padding-left: 25px;
	padding-right: 25px;
	border-radius:25px;
	-moz-border-radius:25px;
	-webkit-border-radius:25px;
	-o-border-radius:25px;
}
.btn-secondary:hover {
  	background-color:#C44179 !important;
  	border-color:#C44179 !important;
	color:white;
	height:50px;
	line-height:38px;
	padding-left: 25px;
	padding-right: 25px;
	border-radius:25px;
	-moz-border-radius:25px;
	-webkit-border-radius:25px;
	-o-border-radius:25px;
}
.btn-info, .btn-info:active, .btn-info:visited {
  	background-color:transparent !important;
  	border-color:#527D8E !important;
	color:black;
	font-size: 14px;
	text-transform: uppercase;
	height:50px;
	line-height:38px;
	padding-left: 25px;
	padding-right: 25px;
	border-radius:25px;
	-moz-border-radius:25px;
	-webkit-border-radius:25px;
	-o-border-radius:25px;
}
.btn-info:hover {
  	background-color:#527D8E !important;
  	border-color:#527D8E !important;
	color:white;
	height:50px;
	line-height:38px;
	padding-left: 25px;
	padding-right: 25px;
	border-radius:25px;
	-moz-border-radius:25px;
	-webkit-border-radius:25px;
	-o-border-radius:25px;
}
a.buton, a.buton:hover {
display:inline-block;
 width:auto;
 padding:0 15px;
 margin-right:10px;
 margin-bottom: 10px;
 line-height:20px;
 text-align:center;
  background:#33348E;
   color:black;
  font-size:20px;
    border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
}
a.buton:hover {
  background:black;
	color:white;
}
.thumbnail {
	display:block;
	width:100%;
	height:100%;
	background:url(images/thumbnail.png) no-repeat center center;
	border: 1px solid #e2e2e2;
}
#page li {
  list-style-image: url(images/li.png);
}
.pointer {
  cursor:pointer;
}
a.pagesvideo, a.pagesvideo:hover {
	width:100%;
	max-width:100%;
	display:block;
	position:relative;
}
a.pagesvideo:after {
  position: absolute;
  top:0;
  left:0;
  content: '';
  display:block;
  width:100%;
  height:100%;
  background: url(images/playvideo.png) no-repeat center center;
}
.contoveralltop {
	display: block;
	width:100%;
 	transition: all 0.8s ease;
	-moz-transition: all 0.8s ease;
	-webkit-transition: all 0.8s ease;
	-o-transition: all 0.8s ease;	
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+50,33348e+50,33348e+100 */
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(51,52,142,1) 50%, rgba(51,52,142,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(51,52,142,1) 50%,rgba(51,52,142,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(51,52,142,1) 50%,rgba(51,52,142,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#33348e',GradientType=1 ); /* IE6-9 */
	
}
@media only screen and (max-width:1200px) {
	.contoveralltop {
		background:white;
	}
}
.topleft p {
	font-size:11px;
	line-height: 15px;
}
.topcenter {
	background:#12A9EA;
	font-size: 15px;
	font-weight: 600;
	line-height: 32px;
}
.topright {
	background:#33348e;
}
a.upicon, a.upicon:hover, .upicon {
	display:inline-block;
	width:auto;
	background-repeat:no-repeat;
	background-position: left center;
	line-height:32px;
	color:white;
	font-size: 15px;
	font-weight:600;
	padding-left:30px;
	white-space: nowrap; 
  	overflow: hidden;
	text-overflow: ellipsis;
}
.icontel {
	background-image: url(images/tel.png);
}
.iconperson {
	background-image: url(images/person.png);
}
a.search, a.search:hover, a.search2, a.search2:hover {
	display:inline-block;
	width:20px;
	line-height:32px;
	background:url(images/search.png) no-repeat center center;	
}
a.search2, a.search2:hover {
	float:right !important;
}
.contoverallsearch {
	width:100% !important;
	min-height:100% !important;
	display:none;
	position:absolute;
	top:0;
	left:0;
	background:rgba(255,255,255,0.9);
	z-index:10001;
	padding:20px;
}
#frmSearch {
	position: absolute;
	width:50%;
	top:50%;
    left:50%;
    border-bottom: 1px solid #888888;	
	transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);	
	-moz-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
}
.searchinput {
	width:70%;
	height:50px;
	display:inline;
	float:left;
	background:none;
}
.searchinput input {
	background:none;
	width:100%;
	height:30px;
	line-height:20px;
	font-size:16px;
	font-weight:600;
	padding:0;
	color:black;
	border:0;
}
.searchinput input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:black;
}
.searchinput input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:black;
   opacity:  1;
}
.searchinput input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:black;
   opacity:  1;
}
.searchinput input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:black;
}
.searchinput input:focus {
	border:0;
	outline: none;
}
a.searchbuton, a.searchbuton:hover {
	width:20%;
	height:30px;
	line-height:30px;
	display: inline;
	float:right;
 text-align:right;
 color:black;	
 font-size:24px;	
}
a.closebtn, a.closebtn:hover {
    position: absolute;
    top:20px;
    right:25px;
    width:24px;
    height:24px;
    background: url(images/close.png) no-repeat center center;
}
a.uplinkmobile, a.uplinkmobile:hover, a.uplinkmobile2, a.uplinkmobile2:hover {
	background: #12A9EA;
	color:white;
	font-size: 14px;
	padding:3px 15px;
	margin-right: 5px;
	margin-bottom: 5px;
	display:inline;
	float:left;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
}
a.uplinkmobile2 {
	background:#3AA249;
}
a.uplinkmobile:hover, a.uplinkmobile2:hover {
	background: #33348E;
}
a.uplink, a.uplink:hover, a.uplinkselected, a.uplinkselected:hover {
	display:inline-block;
	color:white;
}
a.uplink:hover, a.uplinkselected, a.uplinkselected:hover {
	border-bottom:1px solid white;
}
.contoverallup {
	background:white;
	display: block;
	width:100%;
	padding:10px 0;
 	transition: all 0.8s ease;
	-moz-transition: all 0.8s ease;
	-webkit-transition: all 0.8s ease;
	-o-transition: all 0.8s ease;	
}
.contoverallupfixed {
	background:#FAFAFA;
	padding:0;
	position:fixed;
	top:0;
	left:0;
	z-index:100;
	box-shadow: rgba(0,0,0,0.22) 0px 0px 5px 0;
}
.navbar {
	padding:0;
}
.navbar-brand {
	width:238px;
	line-height:43px;
	 transition: all 0.8s ease;
	-moz-transition: all 0.8s ease;
	-webkit-transition: all 0.8s ease;
	-o-transition: all 0.8s ease;	
}
.contoverallupfixed .navbar-brand {
	width:180px;
	line-height:33px;
}
@media only screen and (max-width:991px) {
	.navbar-brand {
		width:166px;
		line-height:30px;
	}
}
.navbar-light .navbar-nav a.nav-link {
    color:black;
    font-size:16px;
	font-weight: 600;
	text-transform: uppercase;
}
.navbar-light .navbar-nav a.nav-link:hover, .navbar-light .navbar-nav a.active, .navbar-light .navbar-nav a.active:hover  {
	color:#12A9EA;
}
.navbar-light .navbar-nav a.nav-link.green:hover, .navbar-light .navbar-nav a.active, .navbar-light .navbar-nav a.active.green:hover  {
	color:#67C351;
}
.navbar-collapse {
	padding-top:15px;
	padding-bottom:15px;
}
.navbar-collapse.show a.nav-link {
	border-bottom:1px solid rgba(18,169,234,0.2);
}
.navbar-light .navbar-toggler {
    border-color: rgba(18,169,234,0.2);
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(51,52,142, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.slider {
	height:660px;
}
@media only screen and (min-width:768px) and (max-width:1199px) {
	.slider {
		height:700px;
	}
}
@media only screen and (max-width:767px) {
	.slider {
		height:500px;
	}
}
.slidersquare {
	width:50%;
	display:block;
	position: absolute;
	top:0;
	right:0;
	height: 100% !important;
	background: url(images/slidersquare.png) no-repeat left center;
	padding-left:150px;
	text-align:center;
}
@media only screen and (min-width:768px) and (max-width:1199px) {
	.slidersquare {
		width:60%;
		padding-left:150px;
		text-align:left;
	}
}
@media only screen and (max-width:767px) {
	.slidersquare {
		width:100%;
		padding-left:12px;
		background:rgba(255,255,255,.75);
	}
}
.slidertitle {
	color:#33348E;
	line-height:25px;
	font-size:25px;
	font-weight:700;
}
.slidertitle span {
	display:block;
	line-height:43px;
	font-size:43px;
	font-weight:700;
}
a.butonslider, a.butonslider:hover {
	display:inline-block;
 	width:auto;
 	padding:15px 25px 15px 80px;
 	text-align:center;
  	background:#12A9EA;
   	color:white;
	position: relative;
  	font-size:18px;
	font-weight: 700;
    border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	overflow: hidden;
}
a.butonslider.green   {
  background:#67C351;
}
a.butonslider:hover {
  background:#33348E;
}

a.butonslider span, a.butonslider:hover span {
	width:70px;
	height:100%;
	display: block;
	position: absolute;
	top:0;
	left:0;
	background: url(images/butonleftwhite.png) no-repeat right center;
}
a.butonslider img, a.butonslider:hover img {
	width:75% !important;	
	height: auto;
	margin-top:8px;
	margin-left:7px;
}
.slidersquaredown {
	width:100%;
	display:block;
	position: absolute;
	bottom:-15px;
	left:0;
}
.slidersquaredownsign {
	width: 138px;
	height: 106px;
	display:block;
	position: absolute;
	top:-40px;
	left:40px;
}
.slidersquaredowncont {
	background:#FAFAFA;
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	-o-border-radius:15px;
	position: relative;
}
.slidersquaredowntext {
	width:75%;
	margin-bottom:20px;
	display: block;
	float:right;
	color:#33348E;
	font-size:23px;
	line-height:30px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: left;
}
.slidersquaredowntext span {
	color:#12A9EA;
	font-size:30px;
	line-height:40px;
	font-weight: 400;
	display:block;
}
@media only screen and (max-width:767px) {
	.slidersquaredowntext {
		width:100%;
		margin-bottom:20px;
		font-size:18px;
		line-height:24px;
		font-weight: 700;
	}
	.slidersquaredowntext span {
		font-size:24px;
		line-height:30px;
	}
}
.contoverallform {
	background:#FAFAFA;
}
a.butoncredit, a.butoncredit:hover {
	display:inline-block;
 	width:100%;
 	padding:25px;
 	text-align:center;
  	background:#12A9EA;
   	color:white;
  	font-size:20px;
	font-weight: 700;
    border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
}
a.butoncredit.green   {
  background:#67C351;
}
a.butoncredit:hover {
  background:#33348E;
}
.nav-tabs .nav-link {
	width:100%;
	border-left:1px solid white !important;
	border-right:1px solid white !important;
	margin-top:25px;
    color:black;
    background-color:#E5E8EB;
	border:0;
    font-size:16px;
    font-weight:400;
	text-transform: uppercase;
	padding:20px;
	text-align: left;
}
.nav-link:hover {
	color:rgba(0,0,0,.5);
}
.nav-tabs .nav-link span.tabicon {
	display:inline;
	float:left;
	width:30%;
	height:100%;
	font-size:30px;
	text-align:center;
}
.nav-tabs .nav-link span.tabtext {
	display:inline;
	float:left;
	width:70%;
	height:40px;
	line-height:20px;
}
.nav-tabs .nav-link.active {
	width:100%;
	padding-top:40px;
    color:white;
    background-color:#12A9EA;
    font-weight:700;
}
.news {
	width:100%;
	display:block;
	overflow: hidden;
	text-align: left;
}
.newsimage {
	width:100%;
	display:block;
	height:240px;
	margin-bottom:15px;
	overflow: hidden;
}
@media only screen and (max-width:991px) {
	.newsimage {
		height:auto;
	}
}
a.newstitle, a.newstitle:hover {
	font-size:24px;
	color:#454B4D;
	font-weight:700;
	display:block;
	text-transform: uppercase;
	margin-bottom:15px;
}
a.newstitle:hover {
	color:#12A9EA;
}
.newstext {
	width:100%;
}
.contoverallsteps {
	background:#33348E;
	position: relative;
}
.contoverallstepsicon {
	width:100%;
	display:block;
	text-align: center;
	position: absolute;
	top:-53px;
	left:0;
}
.contoverallsteps h2 {
	letter-spacing: 2px;
}
.contoverallclients {
	background:#E7EBED;
	position: relative;
}
.contoverallclientsicon {
	width:100%;
	display:block;
	text-align: center;
	position: absolute;
	top:-61px;
	left:0;
}
.contoveralldown {
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+50,286CBF+50,286CBF+100 */
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(40,108,191,1) 50%, rgba(40,108,191,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(40,108,191,1) 50%,rgba(40,108,191,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(40,108,191,1) 50%,rgba(40,108,191,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#286CBF',GradientType=1 ); /* IE6-9 */
}
@media (max-width:991px) {
    .contoveralldown {
        background: white;
    }
}
.downright {
	background: url(images/downsign.png) no-repeat top left #286CBF;
	background-size: auto 100%;
}
a.down, a.down:hover {
	 width:100%;
	 display:inline-block;
	 line-height:20px;
	 margin-bottom:10px;
	 color:white;
	font-size: 14px;
	margin-right:25px;
	background: url(images/li2.png) no-repeat left center;
	background-size:6px 10px;
	padding-left:20px;
}
a.down:hover {
	color:#68cffb;
}
a.downicon, a.downicon:hover, .downicon {
	display:inline-block;
	width:100%;
	background-repeat:no-repeat;
	background-position: left top 5px;
	background-size: 20px auto;
	line-height:32px;
	color:white;
	padding-left:35px;
	/*white-space: nowrap; 
  	overflow: hidden;
	text-overflow: ellipsis;*/
	margin-bottom:5px;
}
a.downicon:hover {
	color:#68cffb;
}
.iconmobile2 {
	background-image: url(images/mobile2.png);
	background-size: 15px auto !important;
}
.icontel2 {
	background-image: url(images/tel2.png);
}
.iconfax2 {
	background-image: url(images/fax2.png);
}
.iconemail2 {
	background-image: url(images/email2.png);
}
.iconfacebook2 {
	background-image: url(images/facebook2.png);
}
.icongps2 {
	background-image: url(images/gps2.png);
}
.contoverallbottom {
	background:#33348E;
	font-size:12px;
}
.contoverallbottom a {
	color:rgba(255,255,255,0.5);
}
.contoverallbottom a:hover {
	color:white;
}
a.scrollTop, a.scrollTop:hover {
	width:44px;
	height:44px;
	display:block;
	position: fixed;
	bottom:0;
	right:20px;
	background: url(images/arrowup.png) no-repeat;
	opacity:0;
	transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
}
.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #918474;
  background-color: rgba(246,242,235,1);
  border: 1px solid #918474;
}
.page-item.disabled .page-link {
  color: #33348E;
  pointer-events: none;
  cursor: auto;
  background-color: white;
  border-color: #33348E;
}
.page-item.active .page-link {
  z-index: 1;
  color: white;
  background-color: #918474;
  border-color: #918474;
}
.page-link:focus, .page-link:hover {
  color: #fff;
  text-decoration: none;
  background-color: #918474;
  border-color: #918474;
}

.loading {
	display:none;
	width:100%;
	height:100%;
	position:absolute;
	top:0;
  left:0;
  text-align:center;
  color:#888;
	background-color:rgba(255,255,255,0.7);
}
.loading div {
  width:100px;
  height:100px;
  display: block;
  overflow:hidden;
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);	
  -moz-transform:translate(-50%,-50%);
  -o-transform:translate(-50%,-50%);
}
.form-control {
	padding:25px;
}
.form-control:focus, .custom-select:focus {
  border-color: #12A9EA !important;
  box-shadow: 0 0 5px #12A9EA !important;
}
.custom-control-label:before {
  box-shadow: 0 0 5px #12A9EA !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color:#12A9EA;
  box-shadow: 0 0 5px #12A9EA !important;
}
.custom-control-input:active~.custom-control-label::before {
  background-color:#12A9EA;
  box-shadow: 0 0 5px #12A9EA !important;
}
.custom-radio .custom-control-input:checked~.custom-control-label::before {
  background-color:#12A9EA;
  box-shadow: 0 0 5px #12A9EA !important;
}
.custom-select {
	background:url(images/down.png) no-repeat right .75rem center white;
	height:52px;
	padding-left:25px;
	padding-right:25px;
}
a.pagerlink, a.pagerlink:hover, a.decornonepagerlink, a.decornonepagerlink hover, .decornonepagerlink {
	background:#a49a88;
	color: white;
	display: inline-block;
	font-size: 16px;
	width: 34px;
	height: 34px;
	line-height: 34px;
	overflow: hidden;
	text-align: center;
	text-decoration: none;
	margin-left:1px;
	margin-right:1px;
	margin-bottom:2px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px; 	
}
a.pagerlink:hover, a.decornonepagerlink, a.decornonepagerlink hover, .decornonepagerlink {
	background:#d3be9c;
}
.form-group label.error {
	color:red;
  font-size: 14px;
  display: block;
  width:100%;
}
a.btnTerms {
	width:20px;
	height:20px;
	line-height:20px;
	border-radius:3px;	
	display:inline-block;
	vertical-align:middle;								
	cursor:pointer;	
	border:1px solid #12A9EA;
	background: url(images/checkbox.png) no-repeat center center white;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
a.btnTermsChecked {
	width:20px;
	height:20px;
	line-height:20px;
	border-radius:3px;	
	display:inline-block;
	vertical-align:middle;								
	cursor:pointer;	
	border:1px solid #12A9EA;
	background: url(images/checkbox.png) no-repeat center center #33348E;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color:#f6f6f6;
}